{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>FoodieGarage | Home</title>
	
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">


</head>
<body>
	<h1>FoodieGarage</h1>

<article>

	{% for restaurant in restaurants %}
		<section>
			<h2><div class="to_left">{{restaurant.restaurant_name}}</div><div class="to_right">{{restaurant.votes}}</div></h2>
			<hr>
			<div class="white">
				<p class="white">{{restaurant.cuisines}}</p>
			</div>
			<div class="white">
				{% if restaurant.has_table_booking == 1 %}
					<img src="{% static 'img/table_booking.png' %}">
				{% endif %}
				{% if restaurant.has_online_delivery == 1 %}
					<img src="{% static 'img/online_delivery.png' %}">
				{% endif %}
			</div>
		</section>
	{% endfor %}

</article>
</body>
</html>