@import "compass/css3";

*, *:before, *:after {box-sizing:  border-box !important;}

article {
 -moz-column-width: 13em;
 -webkit-column-width: 13em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em;   
 text-align: center;
}

section {
 display: inline-block;
 margin:  20px;
 padding:  2px;
 width:  100%; 
 background:  #fff;
 border-top-right-radius: 20px;
 text-align: center;
 background-color: #fff;
 color: #000;
}

p {
 margin: 2px;
 text-align: left;
 background-color: #fff;
 color: #000;
}

/*  styles for background color, etc; not necessary for this thing to work  */
body {
 padding:  1em;
 font-family:  "Garamond", serif; 
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

body {
  line-height:  1.25;
}

h2 {
	width: 100%;
	font-size: 12px;
	font-style: bold;
	
}

.to_left {
	position: relative;
	text-align: left;
}

.to_right {
	position: relative;
	text-align: right;
}

.white {
	background-color: #fff;
	color: #C0CBCA;
}